/*
Theme Name: Knight Lantern Theme
Theme URI: http://knightlantern.org
Description: The Knight Lantern Wordpress Theme
Author: Ned Fenstermacher & Jeff Hotchkiss
Version: 1.0
Tags: batman, green lantern
*/

$green: #1e7e1e;
$green-light: lighten($green, 10%);
$green-dark: darken($green, 10%);
$grey: #888888;
$white: #ffffff;
$black: #333333;
$orange: #cc8400;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

a {
	color: $green-light;
	text-decoration: none;

	// article &:hover {
	// 	text-decoration: underline;
	// }
}

@font-face {
  font-family: 'KL';
  src: url('fonts/kl/kl.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/kl/kl.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

header {
	background: #333 url('images/rubber_grip.png');
	box-shadow: 0px 0px 10px black;
	padding: 10px;
	margin-bottom: 60px;
}

.logo {
	text-align: center;
	display: inline-block;

	a {
		height: 160px;
		width: 160px;
		display: table-cell;
		vertical-align: middle;
		border-radius: 50%;
		border: 4px solid #999;
		background: #7d7e7d;
		background: -moz-linear-gradient(-45deg,  #7d7e7d 0%, #333333 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7d7e7d), color-stop(100%,#333333));
		background: -webkit-linear-gradient(-45deg,  #7d7e7d 0%,#333333 100%);
		background: -o-linear-gradient(-45deg,  #7d7e7d 0%,#333333 100%);
		background: -ms-linear-gradient(-45deg,  #7d7e7d 0%,#333333 100%);
		background: linear-gradient(135deg,  #7d7e7d 0%,#333333 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#333333',GradientType=1 );
		overflow: hidden;
		box-shadow: 0px 0px 10px black;
	}

	img {
		height: 120px;
	}
}

header h1 {
	display: inline-block;
	position: absolute;
	left: 160px;
	top: 6px;
	margin: 0px;
	padding: 0px;
	font-size: 32px;
	font-weight: 700;

	a {
		color: $grey;
		text-shadow: 1px 1px 3px black;
	}

	span {
		color: $green;
	}
}

header nav  {
	margin-left: 200px;
	margin-top: -120px;

	ul {
		margin: 0px;
		padding: 20px 0px;
	}

	li {
		display: inline-block;
		font-size: 24px;
		font-weight: bold;

		a {
			padding: 16px 20px;
			color: $grey;
			text-shadow: 1px 1px 1px black;
		}

		&.current_page_item a {
			color: $green;
		}

		a:hover {
			color: lighten($green, 20%);
		}
	}
}

header .social {
	position: absolute;
	right: 10px;
	top: 6px;

	a {
		padding: 4px;
	}

	a:hover {
		color: $white;
	}
}

a.social-icon {
	font-family: 'KL', Arial, sans-serif;
	text-decoration: none;
	font-size: 32px;
	color: $orange;
	text-shadow: 1px 1px 3px $black;

	&:hover {
		color: $white;
	}
}

article {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 40px;

	h2 {
		margin: 0px;
	}

	p {
		margin-top: 0px;
	}

	strong {
		font-size: 20px;
	}

	ul {
		margin: 0px;
	}

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	td {
		vertical-align: top;
	}
}

footer {
	text-align: center;

	.copy {
		margin-bottom: 10px;
	}
}

.wrapper {
	position: relative;
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
}

.home_art {
	width: 600px;
	min-height: 150px;
}

.post_links {
	margin-bottom: 20px;
}

.post_details {
	width: 400px;
	padding-right: 10px;
	float: left;
}

.large_ep_num {
	display: inline-block;
	width: 380px;
	color: white;
	font-size: 60px;
	line-height: 60px;
	padding: 4px;
	font-weight: bold;
	font-family: Tahoma, Verdana;
	background: -moz-linear-gradient(85deg,  rgba(30,126,30,1) 0%, rgba(106,119,106,0) 94%, rgba(111,119,111,0) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(30,126,30,1)), color-stop(94%,rgba(106,119,106,0)), color-stop(100%,rgba(111,119,111,0)));
	background: -webkit-linear-gradient(85deg,  rgba(30,126,30,1) 0%,rgba(106,119,106,0) 94%,rgba(111,119,111,0) 100%);
	background: -o-linear-gradient(85deg,  rgba(30,126,30,1) 0%,rgba(106,119,106,0) 94%,rgba(111,119,111,0) 100%);
	background: -ms-linear-gradient(85deg,  rgba(30,126,30,1) 0%,rgba(106,119,106,0) 94%,rgba(111,119,111,0) 100%);
	background: linear-gradient(85deg,  rgba(30,126,30,1) 0%,rgba(106,119,106,0) 94%,rgba(111,119,111,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e7e1e', endColorstr='#006f776f',GradientType=1 );
}

.title_card {
	margin-right: 20px;
	float: left;
	width: 200px;
	height: 150px;
}

.title_card_large {
	float: left;
	width: 400px;
	height: 300px;
}

.show_icon {
	position: absolute;
	top: 4px;
	right: 4px;
	border: 3px solid #666;
	border-radius: 50%;
}

.post_title {
	margin-bottom: 20px;
	font-size: 40px;
	padding: 0px;
}

.post_content {
	position: relative;
	margin-bottom: 20px;
}

.metadata {
	margin: -20px 0px 10px 0px;
	font-size: 80%;
	letter-spacing: 4px;
	color: $green-light;
}

.mejs-audio {
	margin-bottom: 1px;
}

.clearfix {
	zoom: 1; 

	&:before, &:after {
		content: "";
    	display: table;
	}

	&:after {
		clear: both;
	}
}

.pull_list {
	.alignleft {
		float: left;
		text-align: center;
	}
}

thead td {
	font-size: 150%;
	font-weight: bold;
}

.tdleft {
	width: 45%;
	text-align: right;
}

.tdcenter {
	width: 10%;
	text-align: center;
}

.tdright {
	width: 45%;
}

/* Wordpress comment CSS */
ol.commentlist {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0; }

ol.commentlist li.comment {
  border-bottom: 1px dotted #666;
  padding: 1em; }

ol.commentlist li.comment div.vcard {
  font: normal 16px georgia,times,serif; }

ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal; }

ol.commentlist li.comment div.vcard img.avatar {
  border: 5px solid #ccc;
  float: right;
  margin: 0 0 1em 1em; }

ol.commentlist li.comment div.comment-meta {
  font-size: 12px; }

ol.commentlist li.comment div.comment-meta a {
  color: #ccc; }

ol.commentlist li.comment p {
  font-size: 14px;
  margin: 0.5em 0 1em; }

ol.commentlist li.comment ul {
  font-size: 14px;
  list-style: square;
  margin: 0 0 1em 2em; }

ol.commentlist li.comment div.reply {
  font-size: 14px; }

ol.commentlist li.comment div.reply a {
  font-weight: bold; }

ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 1em 0 0;
  text-indent: 0; }

ol.commentlist li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 .25em .25em; }

ol.commentlist li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 .25em .25em; }

ol.commentlist li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 .25em .25em; }

ol.commentlist li.even {
  background: #fff; }

ol.commentlist li.odd {
  background: #f6f6f6; }

ol.commentlist li.parent {
  border-left: 5px solid #111; }