/*
Theme Name: Knight Lantern Theme
Theme URI: http://knightlantern.org
Description: The Knight Lantern Wordpress Theme
Author: Ned Fenstermacher & Jeff Hotchkiss
Version: 1.0
Tags: batman, green lantern
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px; }

a {
  color: #28a728;
  text-decoration: none; }

@font-face {
  font-family: 'KL';
  src: url("fonts/kl/kl.woff") format("woff"), url("fonts/kl/kl.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

header {
  background: #333333 url("images/rubber_grip.png");
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  margin-bottom: 60px; }

.logo {
  text-align: center;
  display: inline-block; }
  .logo a {
    height: 160px;
    width: 160px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    border: 4px solid #999;
    background: #7d7e7d;
    background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7d7e7d), color-stop(100%, #333333));
    background: -webkit-linear-gradient(-45deg, #7d7e7d 0%, #333333 100%);
    background: -o-linear-gradient(-45deg, #7d7e7d 0%, #333333 100%);
    background: -ms-linear-gradient(-45deg, #7d7e7d 0%, #333333 100%);
    background: linear-gradient(135deg, #7d7e7d 0%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#333333',GradientType=1 );
    overflow: hidden;
    box-shadow: 0px 0px 10px black; }
  .logo img {
    height: 120px; }

header h1 {
  display: inline-block;
  position: absolute;
  left: 160px;
  top: 6px;
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  font-weight: 700; }
  header h1 a {
    color: #888888;
    text-shadow: 1px 1px 3px black; }
  header h1 span {
    color: #1e7e1e; }

header nav {
  margin-left: 200px;
  margin-top: -120px; }
  header nav ul {
    margin: 0px;
    padding: 20px 0px; }
  header nav li {
    display: inline-block;
    font-size: 24px;
    font-weight: bold; }
    header nav li a {
      padding: 16px 20px;
      color: #888888;
      text-shadow: 1px 1px 1px black; }
    header nav li.current_page_item a {
      color: #1e7e1e; }
    header nav li a:hover {
      color: #33cf33; }

header .social {
  position: absolute;
  right: 10px;
  top: 6px; }
  header .social a {
    padding: 4px; }
  header .social a:hover {
    color: white; }

a.social-icon {
  font-family: 'KL', Arial, sans-serif;
  text-decoration: none;
  font-size: 32px;
  color: #cc8400;
  text-shadow: 1px 1px 3px #333333; }
  a.social-icon:hover {
    color: white; }

article {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 40px; }
  article h2 {
    margin: 0px; }
  article p {
    margin-top: 0px; }
  article strong {
    font-size: 20px; }
  article ul {
    margin: 0px; }
  article table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse; }
  article td {
    vertical-align: top; }

footer {
  text-align: center; }
  footer .copy {
    margin-bottom: 10px; }

.wrapper {
  position: relative;
  width: 80%;
  min-width: 800px;
  margin: 0 auto; }

.home_art {
  width: 600px;
  min-height: 150px; }

.post_links {
  margin-bottom: 20px; }

.post_details {
  width: 400px;
  padding-right: 10px;
  float: left; }

.large_ep_num {
  display: inline-block;
  width: 380px;
  color: white;
  font-size: 60px;
  line-height: 60px;
  padding: 4px;
  font-weight: bold;
  font-family: Tahoma, Verdana;
  background: -moz-linear-gradient(85deg, #1e7e1e 0%, rgba(106, 119, 106, 0) 94%, rgba(111, 119, 111, 0) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1e7e1e), color-stop(94%, rgba(106, 119, 106, 0)), color-stop(100%, rgba(111, 119, 111, 0)));
  background: -webkit-linear-gradient(85deg, #1e7e1e 0%, rgba(106, 119, 106, 0) 94%, rgba(111, 119, 111, 0) 100%);
  background: -o-linear-gradient(85deg, #1e7e1e 0%, rgba(106, 119, 106, 0) 94%, rgba(111, 119, 111, 0) 100%);
  background: -ms-linear-gradient(85deg, #1e7e1e 0%, rgba(106, 119, 106, 0) 94%, rgba(111, 119, 111, 0) 100%);
  background: linear-gradient(85deg, #1e7e1e 0%, rgba(106, 119, 106, 0) 94%, rgba(111, 119, 111, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e7e1e', endColorstr='#006f776f',GradientType=1 ); }

.title_card {
  margin-right: 20px;
  float: left;
  width: 200px;
  height: 150px; }

.title_card_large {
  float: left;
  width: 400px;
  height: 300px; }

.show_icon {
  position: absolute;
  top: 4px;
  right: 4px;
  border: 3px solid #666;
  border-radius: 50%; }

.post_title {
  margin-bottom: 20px;
  font-size: 40px;
  padding: 0px; }

.post_content {
  position: relative;
  margin-bottom: 20px; }

.metadata {
  margin: -20px 0px 10px 0px;
  font-size: 80%;
  letter-spacing: 4px;
  color: #28a728; }

.mejs-audio {
  margin-bottom: 1px; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.pull_list .alignleft {
  float: left;
  text-align: center; }

thead td {
  font-size: 150%;
  font-weight: bold; }

.tdleft {
  width: 45%;
  text-align: right; }

.tdcenter {
  width: 10%;
  text-align: center; }

.tdright {
  width: 45%; }

/* Wordpress comment CSS */
ol.commentlist {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0; }

ol.commentlist li.comment {
  border-bottom: 1px dotted #666;
  padding: 1em; }

ol.commentlist li.comment div.vcard {
  font: normal 16px georgia,times,serif; }

ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal; }

ol.commentlist li.comment div.vcard img.avatar {
  border: 5px solid #ccc;
  float: right;
  margin: 0 0 1em 1em; }

ol.commentlist li.comment div.comment-meta {
  font-size: 12px; }

ol.commentlist li.comment div.comment-meta a {
  color: #ccc; }

ol.commentlist li.comment p {
  font-size: 14px;
  margin: 0.5em 0 1em; }

ol.commentlist li.comment ul {
  font-size: 14px;
  list-style: square;
  margin: 0 0 1em 2em; }

ol.commentlist li.comment div.reply {
  font-size: 14px; }

ol.commentlist li.comment div.reply a {
  font-weight: bold; }

ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 1em 0 0;
  text-indent: 0; }

ol.commentlist li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 .25em .25em; }

ol.commentlist li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 .25em .25em; }

ol.commentlist li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 .25em .25em; }

ol.commentlist li.even {
  background: #fff; }

ol.commentlist li.odd {
  background: #f6f6f6; }

ol.commentlist li.parent {
  border-left: 5px solid #111; }
